<% if user_signed_in? %>
<%= link_to "New product", new_product_path, class: "new-product" %>
<% end %>

<h1>Edit product</h1>

<%= render "form", product: @product %>
<%= link_to "Cancel", @product %>
